body{
    background-color: rgb(222, 232, 241);
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}
.Layout{
    display: flex;
    flex-direction: column;
  
}

.LayoutMain{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    
}

.LayoutLeft{

    max-width: 15%;
    border-width: 10px;
    border-radius: 5%;
    border-color: #8a042c;
}

.LayoutMiddle{
    flex-grow: 2
    ;
}

.LayoutRight{

    max-width: 30%;
}
#Banner
{
    max-width: 86%;
    z-index: -6;
    padding-left: 1.7%;
}

.OpenButton
{
  z-index: 1;
}

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 110px;
    left: 0;
   
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-image: url("CSS/Media/SideNav.png");
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }